@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #2c3e50;
  --background-rgb: #ffffff;
  --accent-rgb: #ff00ff;
  --cardbg-rgb: #fefefe;
  --inputbg-rgb: #f8f8f8;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: #e8e8e8;
    --background-rgb: #000000;
    --accent-rgb: #cc00cc;
    --cardbg-rgb: #383838;
    --inputbg-rgb: #181818;
  }
}

body {
  color: var(--foreground-rgb);
  background: var(--background-rgb);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
